body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

body * {
    margin: 0px;
    padding: 0px;
    border: none;
    color: white;
    background-color: dimgray;
    font-family: monospace;
    font-size: large;
}

#ex_candidates {
    padding: 4px 0px 0px 0px;
    list-style-type: none;
    white-space: nowrap;
    overflow: auto;
}
#ex_candidates > li.ex_select_candidate,
#ex_candidates > li.ex_select_candidate > span {
    background-color: gray;
}
#ex_candidates > li > span {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}
span.ex_string_data {
    width: 45%;
}
span.ex_string_info {
    width: 50%;
    color: yellow;
}
span.ex_number_data {
    width: 5%;
}
span.ex_number_info {
    width: 90%;
    color: yellow;
}

#ex_console[mode="exec"]::before {
    content: ":";
}
#ex_console[mode="forwardSearch"]::before {
    content: "/";
}
#ex_console[mode="backwardSearch"]::before {
    content: "?";
}

#ex_input, #ex_output {
    box-sizing: border-box;
    width: calc(100% - 1em);
}

