body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

#wimpulation_console {
    margin: 0px;
    padding: 0px;
    border: none;

    color: white;
    background-color: dimgray;
}

#wimpulation_prompt {
    font-size: large;
    font-family: monospace;
}

#wimpulation_input {
    box-sizing: border-box;
    width: calc(100% - 1em);

    border: none;

    color: white;
    background-color: dimgray;

    font-size: large;
    font-family: monospace;
}

