#wimpulation-hint-container, #wimpulation-console-container {
    z-index: 2147483647 !important;
    border: none !important;
    background: none !important;
    width: 0px !important;
    height: 0px !important;
    position: static !important;
}
#wimpulation-hint-container > span {
    opacity: 0.8 !important;
    background-color: MistyRose !important;
    color: black !important;
    box-shadow: 1px 1px 1px !important;
    display: inline !important;
    z-index: 2147483646 !important;
    position: absolute !important;
    visibility: visible !important;
    border: 1px solid !important;
    border-radius: 3px !important;
    font: x-small Monospace !important;
    margin: 0px !important;
    padding: 0px 4px !important;
    height: initial !important;
    width: initial !important;
}

#wimpulation-hint-container > .A,
#wimpulation-hint-container > .AREA {
    background-color: white !important;
}
#wimpulation-hint-container > .INPUT,
#wimpulation-hint-container > .TEXTAREA,
#wimpulation-hint-container > .BUTTON,
#wimpulation-hint-container > .SELECT,
#wimpulation-hint-container > .PRE,
#wimpulation-hint-container > .CANVAS {
    background-color: Lavender !important;
}
#wimpulation-hint-container > .wimpulation-has-clickevent {
    text-decoration: underline !important;
}
#wimpulation-hint-container > .wimpulation-has-mousemoveevent {
    font-style: italic !important;
}
#wimpulation-hint-container > .wimpulation-has-tabindex {
    border: 2px double !important;
}
#wimpulation-hint-container > #wimpulation-hint-active {
    color: red !important;
    z-index: 2147483647 !important;
    transform: scale(1.1);
}
#wimpulation-hint-container > span.wimpulation-filtered-hint {
    display: none !important;
}

#wimpulation-console-container > iframe {
    background-color: transparent !important;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden !important;
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    z-index: 2147483647 !important;
    display: none !important;
    pointer-events: none !important;
}
#wimpulation-console-container > iframe.wimpulation-show-console {
    display: block !important;
}
#wimpulation-console-container > iframe.wimpulation-console-mode {
    pointer-events: auto !important;
}

[wimpulation-input] {
    box-shadow: #0cf 0 0 3px !important;
    border-color: #09C !important;
}

