#wimpulation-hint-container, #wimpulation-console-container {
    z-index: auto !important;
    border: none !important;
    background: none !important;
    width: 0px !important;
    height: 0px !important;
    position: static !important;
}
#wimpulation-hint-container > div {
    display: block !important;
    position: absolute !important;
    z-index: 2147483646 !important;
    opacity: 1 !important;
    margin: 0px !important;
    padding: 0px !important;
    background: none !important;
    border: none !important;
    box-shadow: crimson 0 0 2px 2px !important;
    transition: none !important;
    visibility: hidden !important;
}
#wimpulation-hint-container > div > span {
    opacity: 1 !important;
    background-color: mistyrose !important;
    color: black !important;
    box-shadow: 1px 1px 1px !important;
    display: inline !important;
    position: absolute !important;
    visibility: visible !important;
    border: 1px solid !important;
    border-radius: 3px !important;
    transition: none !important;
    font: x-small Monospace !important;
    margin: 0px !important;
    padding: 0px 4px !important;
    height: initial !important;
    width: initial !important;
}

#wimpulation-hint-container > div > .A,
#wimpulation-hint-container > div > .AREA {
    background-color: white !important;
}
#wimpulation-hint-container > div > .INPUT,
#wimpulation-hint-container > div > .TEXTAREA,
#wimpulation-hint-container > div > .BUTTON,
#wimpulation-hint-container > div > .SELECT {
    background-color: gainsboro !important;
}
#wimpulation-hint-container > div > .IMG {
    background-color: lightcyan !important;
}
#wimpulation-hint-container > div > .VIDEO {
    background-color: gold !important;
}
#wimpulation-hint-container > div > .CANVAS {
    background-color: lavender !important;
}
#wimpulation-hint-container > div > .wimpulation-is-frame {
    background-color: palegoldenrod !important;
}
#wimpulation-hint-container > div > .wimpulation-has-clickevent {
    text-decoration: underline !important;
}
#wimpulation-hint-container > div > .wimpulation-has-mousemoveevent {
    font-style: italic !important;
}
#wimpulation-hint-container > div > .wimpulation-has-tabindex {
    border: 2px double !important;
}
#wimpulation-hint-container > #wimpulation-hint-active {
    z-index: 2147483647 !important;
    visibility: visible !important;
}
#wimpulation-hint-container > #wimpulation-hint-active > span {
    color: crimson !important;
    transform: scale(1.3) !important;
}
#wimpulation-hint-container > div.wimpulation-filtered-hint > span {
    visibility: hidden !important;
}
#wimpulation-hint-container.wimpulation-hint-is-transparent div > span {
    opacity: 0.2 !important;
}

#wimpulation-console-container > iframe {
    background-color: transparent !important;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden !important;
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    z-index: 2147483647 !important;
    display: none !important;
    pointer-events: none !important;
}
#wimpulation-console-container > iframe.wimpulation-show-console {
    display: block !important;
}
#wimpulation-console-container > iframe.wimpulation-console-mode {
    pointer-events: auto !important;
}

[wimpulation-input] {
    box-shadow: #0cf 0 0 3px !important;
    border-color: #09C !important;
}

