body {
    margin: 0px;
}

#errorCode {
    box-sizing: border-box;
    padding: 3px;
    margin: 0px;
    height: calc(1em + 6px);
}

#errorURL {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: calc(100% - 1em - 6px);
}

