html, body {
    margin: 0px;
    height: 100%;
}

#errorInfo {
    box-sizing: border-box;
    padding: 2px;
    margin: 0px;
    height: calc(1em + 6px);
}

#tryAgainButton {
    color: white;
    background-color: dodgerblue;
    border: unset;
    padding: 1px 1.5em;
}

#errorURL {
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: calc(100% - 1em - 6px);
    vertical-align: bottom;
}

