body {
    margin: 0px;
    counter-reset: line;
}

body > div {
    position: sticky;
    top: 0px;
    background-color: white;
    border: 1px solid gray;
    font-size: small;
}

#source {
    margin-top: 2px;
    margin-left: 5ch;
}

#source > code::before {
    content: counter(line) " ";
    counter-increment: line;
    color: gray;
    text-align: right;
    width: 5ch;
    margin-left: -5ch;
    display: inline-block;
}

#source.wrap-lines > code {
    white-space: pre-wrap;
}

