body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

body * {
    margin: 0px;
    padding: 0px;
    border: none;
    color: white;
    font-family: monospace;
    font-size: large;
}
body > * {
    background-color: rgba(69, 69, 69, 0.6);
}

#ex_candidates {
    padding: 4px 0px 0px 0px;
    list-style-type: none;
    white-space: nowrap;
    overflow: auto;
}
#ex_candidates > li.ex_select_candidate,
#ex_candidates > li.ex_select_candidate > span {
    background-color: lightgray;
    color: black;
}
#ex_candidates > li > span {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
}
#ex_candidates.noinfo span.candidate_separator {
    display: none;
}
#ex_candidates.noinfo span.candidate_info {
    display: none;
}
#ex_candidates.string span.candidate_data {
    width: 45%;
}
#ex_candidates.string span.candidate_info {
    width: 50%;
    color: yellow;
}
#ex_candidates.number span.candidate_data {
    width: 5%;
}
#ex_candidates.number span.candidate_info {
    width: 90%;
    color: yellow;
}

#ex_console[mode="exec"]::before {
    content: ":";
}
#ex_console[mode="forwardSearch"]::before {
    content: "/";
}
#ex_console[mode="backwardSearch"]::before {
    content: "?";
}
#ex_console[mode="hintFilter"]::before {
    content: "/";
}

#ex_input {
    box-sizing: border-box;
    width: calc(100% - 1em);
    background-color: transparent;
}

#ex_message {
    box-sizing: border-box;
    width: 100%;
    display: none;
}
#ex_console[mode="showMessage"] > #ex_input {
    display: none;
}
#ex_console[mode="showMessage"] > #ex_message {
    display: block;
}

